*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;   
    overflow-x: hidden;
    font-size: 18px;    
}

h1,button{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


img{
    max-width: 100%;
    max-height: 100%;
}

ul{
    list-style-type: none;
}
    

header{
    background: url("./bg-hero-desktop.svg");
    background-color: #ebfbff;
    padding: 40px 60px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 35px;
}

.btn{
    padding: 15px 60px;
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 16px #0000001f;
}

.build-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 20px;
}

.build{
    width: 45%;
}

.illustration{
    width: 55%;
}

.build h1{
    font-size: 42px;
    padding-right: 40px;
    margin: 25px 0px;
}

.build p{
    padding-right: 40px;
    margin: 25px 0px;
    color: #808d99;
}

.build .btn{
    background-color: #e30c94;
    color: #ffffff;
    padding: 15px 70px;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 120px 80px 40px;
}

.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 50px 65px;
    margin-bottom: 60px;
    border-radius: 10px;
    box-shadow: 0 3px 16px #0000001f;
}

.service img{
    max-width: 100%;
    width: 520px;
    padding: 15px 80px 15px 60px;
}

.content, .left-content{
    padding-left: 70px;
    padding-right: 70px;
}



.content h2, .left-content h2{
    margin: 10px 0px;
}

.content p, .left-content p{
    width: 90%;
    color: #808d99;
}

div.section {
    position: relative;
    max-width: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #ffffff;
    padding: 60px 0px;
    box-shadow: 0 3px 16px #0000001f ;
    border-radius: 10px;
    margin-bottom: -105px;
}


h1.f
{
    margin-bottom: 15px;   
    text-align: center; 
}



.section .btn {
    margin-top: 25px;
    padding: 24px 100px;
    border-radius: 40px;
    background-color: #e30c94;
    color: #ffffff;
    font-size: 18px; 
}

footer{
    display: flex;
    flex-direction: column;
    background-color:  #00252e;
    color: #ffffff;
    padding: 200px 100px 30px;
}

.footerlo{
    width: 250px;
}

.footer-sec{
    display: flex;
    margin: 40px 0px;
}

.sec-1{
    min-width: 40%;
    width: 40%;    
}

.add{
    display: flex;
    align-items: flex-start;    
}

.add img{
    margin-top: 4px;
    margin-right: 20px;
}

li{
  margin-bottom: 20px;
  padding-right: 60px;
  opacity: 0.9;
}

.sec-2, .sec-3, .sec-4{
    width: 20%;
    margin-left: 30px;    
}

.socials
{
    display: flex;
    padding: 0px;
}

.socials li{
    padding: 0px 7px;
}

.sec-2 ul li a, .sec-3 ul li a{
    text-decoration: none;
    color: #ffffff;
}

.copyright{
    text-align: right;
}








/*pseudo-class*/
nav .btn:hover
{
                  
    background-color: #046d8acb;
}




.section .btn:hover, .build .btn:hover
{
    background-color: #f152b7;
}

div.sec-2 ul li a:hover , div.sec-3 ul li a:hover
{
    text-decoration: none;
    color: #e30c94;
}

i.fa-brands:hover
{
    color: #e30c94;
}

div.service:hover
{
    position: relative;
    bottom: 2px;
}

/*media quaries*/
@media (max-width: 992px)
{
    header{
        padding: 30px 20px;
    }

    .build-sec{
        flex-direction: column;
        text-align: center;
    }

    .build{
        width: 95%;
    }

    .illustration{
        margin-top: 30px;
        width: 95%;
    }

    .build p,.build h1{
        padding: 0;
    }

    .services{
        padding-left: 30px;
        text-align: center;
        padding-right: 30px;
    }

    .service{
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 60px;
    }

    .services-1, .services-3{
        flex-direction: column-reverse;
    }

    .service p{
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .content{
        padding-left: 10px;
        padding-right: 10px;
        width: 95%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    div.section{
        width: 90%;
    }

    h1{
        font-size: 28px;
    }

    .section button{
        padding: 15px, 60px;
        font-size: 16px;
    }

    footer{
        padding-left: 30px;
        padding-right: 0px;
    }

    .footer-sec{
        flex-direction: column;
    }

    li{
        padding-right: 0px;
    }

    .sec-1{
        width: 90%;
        margin-bottom: 40px;
    }

    .sec-2, .sec-3, .sec-4{
        margin-left: 0;
        width: 100%;
    }

    .socials li{
        margin-left: 0;
    }

    .sec-4{
        display: flex;
        justify-content: center;
        margin: 30px 0px 10px;
        margin-bottom: -20px;
    }

    
    i{
        font-size:30px ;
    }


    .copyright{
        text-align: center;
    }
}

@media (max-width: 522px)
{
    nav img, .footerlo{
        width: 150px;
        height: 40px;
    }

    nav button{
        padding: 8px 20px;
    }

    h1{
        font-size: 23px;
    }

    h2{
        font-size: 22px;
    }

    .section .btn{
        padding: 15px 66px;
        font-size: 14px;
    }


}

@media (max-width: 375px)
{
    nav a .btn{
        font-size: 10px;
        padding: 7px 19px;
    }

    nav img{
        width: 133px;
        height: 22px;
    }

    .build h1{
        font-size: 27px;
    }

    .build p{
        font-size: 16px;
    }

    .build .btn{
        background-color: #e30c94;
        color: #ffffff;
        padding: 10px 60px;
    }

    .content, .left-content{
        font-size: 13px;
    }

    .section .f{
        font-size: 17px;
    }

    .section .btn {
        padding: 10px 33px;
        font-size: 12px;
    }
}





